.order{
    padding: 40px;
    margin: 20px 0;
    border: 1px solid lightgray;
    background-color: white;
    position: relative;
}
.order > h2 {
    /* color: red;s */
    margin: 0 0 10px 0;
}
.order_moment{
    color: red;
    margin: 0 0 10px 0;
}
.order_id{
    position: absolute; top: 40px; right: 40px
}